;; shadow-cljs configuration
{
 :deps true
 :builds
 {
  :index
  {:target :browser
   :output-dir "public/js/index"
   :asset-path "/public/js/index"
   :modules
   {:main
    {:entries [javelin-timesync.index.mount]}}}
  :npm
  {:target :node-library
   :output-to "dist/main.js"
   :exports
   {:offset-cb javelin-timesync.core/offset-cb}}}}
