{:optimizations :advanced, :asset-path "index.html.out", :output-dir "/Users/davidmeister/.boot/cache/tmp/Users/davidmeister/javelin-timesync/1mfz/7xhqgu/index.html.out", :output-to "/Users/davidmeister/.boot/cache/tmp/Users/davidmeister/javelin-timesync/1mfz/7xhqgu/index.html.js", :main boot.cljs.main3223, :output-wrapper true, :warning-handlers [#object[adzerk.boot_cljs.impl$compile_cljs$handler__385 0x7efffcbc "adzerk.boot_cljs.impl$compile_cljs$handler__385@7efffcbc"]]}